# IDE and editors
/.idea
.project
.classpath
*.launch
.settings/
*.ipr
*.iml
.vscode/

# System Files
.DS_Store
Thumbs.db
*.bak
*.swp

# Misc
*.log
*.hprof

# Node
node_modules

# Build directories and node
.cache
build/
dist/
http-fake-backend/
node_modules/
public/*.js
public/index.html
public/*.ttf
yarn-error.log
*.code-workspace
stats.json
.env
